.explorer-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explorer-menu h1{
    color: #262626;
    font-weight: 500;
}
.explorer-menu-text{
    max-width: 60%;
    columns: #808080;
}
.explorer-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x:scroll ;
}
.explorer-menu-list::-webkit-scrollbar{
    display: none;
}
.explorer-menu-list-item img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;

}
.explorer-menu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}
.explorer-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}
.explorer-menu-list-item .active{
    border: 4px solid tomato;
    padding: 4px;
}
@media (max-width:1050px){
    .explorer-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
}